/* * {
	border: 1px dashed red;
	min-height: 10px;
} */

body {
	background: black;
	font-family: "Grape Nuts", cursive;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left,
.body-right {
	padding: 10px;
}

.body-left:first-child {
	margin-top: 0;
}

.body-right input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: "Grape Nuts", cursive;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background: grey;
	padding: 5px;
	font-family: "Grape Nuts", cursive;
}
